table, tr, th, td {
  border:1px solid black;
  border-collapse: collapse; 
}

body {
  width:90%;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}
